@import "tailwindcss";
@import '@fontsource/ibm-plex-mono';
@import '@fontsource-variable/space-grotesk';
@import '@fontsource/sigmar';

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@theme{
    --font-ibm-plex-mono: 'IBM Plex Mono', monospace;
    --font-space-grotesk: 'Space Grotesk Variable', sans-serif;
    --font-sigmar: 'Sigmar', cursive;
    --shadow-custom-primary : 1px -1px 26px 6px rgba(58, 183, 208, 0.65);
    --color-primary-blue : #3AB7D0;
    --color-primary-purple : #B154C4;
}

.animation-3d{
    transform-style: preserve-3d;
}

.text-stagger{
    cursor: url('/images/cursor-pointer.png'), pointer;
}


.custom-scroll::-webkit-scrollbar-button{
    display: none;
}

.custom-scroll::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background-color: #e5e7eb; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #5fa8d8; 
}

.container {
  width: 90%;
  height: 400px;
  margin: 0 auto;         
  position: relative;     
  overflow-y: auto;       
  overflow-x: hidden;     
  
}

.container-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(1000px);
  overflow: visible;      
}

.card-container {
  display: flex;
  height: 100%;

}

.img-card {
  width: auto;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  background-color: #ccc;
}

.clippy-footer {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

}

.selector {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}